[Desktop Entry]
Version=1.0
Type=Link
Name=Github 
Comment=
Icon=/data/data/com.termux/files/home/.image/icon/BackgroundEraser_20211212_083326069.png
URL=https://github.com
